d3-tooltip {
  position: absolute;
  width: 0;
  height: 0;
  overflow: visible;
  display: block;
}
d3-tooltip .ngx-d3-tooltip {
  display: inline-block;
  position: relative;
  background-color: #fff;
  border-color: #CCC;
  border-radius: 2px;
  box-shadow: 0 1px 10px -3px rgba(0,0,0,0.3);
  padding: 0.5rem 1rem;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  border: 1px solid #00000020;
}
d3-tooltip .ngx-d3-tooltip.ngx-d3-tooltip_visible {
  opacity: 1;
}
d3-tooltip .ngx-d3-tooltip .arrow {
  position: absolute;
  display: block;
  width: .8rem;
  height: .4rem;
}
d3-tooltip .ngx-d3-tooltip .arrow::before, d3-tooltip .ngx-d3-tooltip .arrow::after {
  position: absolute;
  display: block;
  border-color: #0000;
  border-style: solid;
  content: '';
  border-width: 10px;
}
/* TOP */
d3-tooltip .ngx-d3-tooltip.top {
  transform: translateX(-50%);
  position: absolute;
  left: 0;
  bottom: 20px;
}

d3-tooltip .ngx-d3-tooltip.top .arrow {
  bottom: 0;
  left: 50%;
}

d3-tooltip .ngx-d3-tooltip.top .arrow::before {
  bottom: -20px;
  margin-left: -.8rem;
  border-top-color: #00000040;
}

d3-tooltip .ngx-d3-tooltip.top .arrow::after {
  bottom: -19px;
  margin-left: -.8rem;
  border-top-color: #fff;
}

/* BOTTOM */
d3-tooltip .ngx-d3-tooltip.bottom {
  transform: translateX(-50%);
  position: absolute;
  left: 0;
  top: 20px;
}

d3-tooltip .ngx-d3-tooltip.bottom .arrow {
  top: 0;
  left: 50%;
}

d3-tooltip .ngx-d3-tooltip.bottom .arrow::before {
  top: -20px;
  margin-left: -.8rem;
  border-bottom-color: #00000040;
}

d3-tooltip .ngx-d3-tooltip.bottom .arrow::after {
  top: -19px;
  margin-left: -.8rem;
  border-bottom-color: #fff;
}
